body {
  background-image: url("bgspace.jpg");
  background-position: top;
  background-repeat: repeat;
  background-size: 100%;
}
.mycontainer {
  position: absolute;
  height: 100%;
  width: 100%;
  margin-top: 15px;
}

.row-item {
  margin-left: 20px;
  margin-right: 12px;
}

.dockitem {
  height: 72px !important;
}

img :hover {
  height: 1000px;
}

.name {
  position: absolute;
  left: 200px;
  top: 20px;
}

.screen {
  z-index: 3 !important;
}

p {
  color: #d3d3d3;
  text-shadow: 2px 2px #000000;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
}

.status-bar {
  margin-top: -3px;
  width: 375px;
}

.dock {
    width: 375px;
    height: 96px !important;
    margin-top: 5px !important;
    background-color: #3C3C3C;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    height: 100px;
    margin-left: -8px;
    margin-top: 8px;
}

.flex-item {
    border-radius: 17px;
    width: 60px;
    height: 60px;
}

.flex-subtitle {
  margin-top: 2px;
  font-size: 12px;
}

.flex-parent {
  flex-direction: column;
  width: 60px;
  margin: 15px;
  display: -webkit-flex;
  display: flex;
  height: 90px;
}

.face {
  height: 60px;
  width: auto;

}
#mail{
  position: absolute;
  left: 135px;
  top: 47px;
}
#git{
  position: absolute;
  left: 145px;
  top: 83px;
}
#link{
  position: absolute;
  left: 143px;
  top: 121px;
}
#blog{
  position: absolute;
  left: 127px;
  top: 158px;
}
